<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<!-- 개별 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
    <div id="creat_button">
        <a th:href="@{/note/create}"><i class="fas fa-pen-fancy"></i></a>
    </div>
    <div id="Note_list_box">
        <h1>너무 시끄러운 고독</h1>
        <div class="category">
            <span><a th:href="@{/note/list}">전체</a></span>
            <span><a th:href="@{/note/category(type=poem)}">시</a></span>
            <span>소설</span>
            <span>수필</span>
            <span>기타</span>
        </div>
        <div th:each="noteList: ${list}" class="note_list">

            <div class="note_info fontNR">
                <p>STAY BEAUTIFUL 210214</p>
                <P>Written by.<span th:text="${noteList.writer}"></span></P>
                <p>#TAG1, #TAG2</p>
                <p>no.<span th:text="${noteList.bno}"></span></p>
            </div>
            <div class="note_subject fontNR">
                <p th:text="${noteList.subject}"></p>
                <hr/>
            </div>
            <div class="note_contents fontNR" style="white-space: pre-line;">
                <p th:text="${noteList.contents}"></p>
                <div th:if="${#strings.equals(session.name,noteList.nickname)}" class="feat_box"><a th:href="@{/note/modify(bno=${noteList.bno})}">Modify</a> / <a th:href="@{/note/delete(bno=${noteList.bno})}">Delete</a></div>
            </div>
            <hr class="end_line" />
        </div>
        <div class="clearFixed"></div>
        <div id="paging_box">
            <ul>
                <li>←</li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>→</li>
            </ul>
        </div>
    </div>
</th:block>
</body>
</html>
