<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<!-- 개별 스크립트 추가 -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        function checkId(){
            var id = $('#id').val();
        $.ajax({
            url:'/user/idCheck',
            type:'post',
            data:{id:id},
            success:function(cnt){
                // console.log("성공여부"+cnt);
                if(cnt != 1){
                    $('.id_ok').css("display","inline-block");
                    $('.id_already').css("display", "none");
                } else {
                    $('.id_already').css("display","inline-block");
                    $('.id_ok').css("display", "none");
                }
            },
            error:function(){
                alert("에러입니다");
            }
        });
        };
    </script>
</th:block>

<th:block layout:fragment="content">
    <div id="join_box">
        <h1></i>JOIN</h1>
        <form action="" method="post">
            <input type="text" id = "id" name="id" placeholder="your id" autocomplete="username" required oninput = "checkId()" /> <!-- 아이디 중복체크 -->
            <span class="id_ok">사용 가능한 아이디입니다.</span>
            <span class="id_already">누군가 이 아이디를 사용하고 있어요.</span>
            <input type="password" name="password" placeholder="your password" autocomplete="off">
            <input type="text" name="name" placeholder="your name">
            <button type="submit" class="sweepButton mgt10">
                <span class="hover"></span>
                <span>SUBMIT</span>
            </button>
        </form>
    </div>

</th:block>
</body>

</html>
