<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<!-- 개별 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<th:block layout:fragment="content">
    <div id="login_box">
        <h1>STAY BEAUTIFUL</h1>
        <form action="" method="post">
            <input type="text" name="id" placeholder="id">
            <input type="password" name="password" placeholder="password">
            <button type="submit" class="sweepButton mgt10">
                <span class="hover"></span>
                <span>SUBMIT</span>
            </button>
        </form>
        <a th:href="@{/user/join}">JOIN</a>
        <a th:href="@{/}">GO TO MAIN</a>
    </div>
</th:block>
</body>
</html>
