@CHARSET "UTF-8";

#wrapper{
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-image: url("/img/mainBg2.jpg");
    background-attachment: fixed;
}

#sideBar{
    display:none;
}

#content-wrapper{
    width:960px; margin:0 auto; padding:40px;
}

/* user/login */
#login_box{width:220px; margin:25% auto;}
#login_box h1{margin-bottom:10px; letter-spacing: 1px; font-size:21px;}
#login_box a{font-size:12px;}
#login_box a:hover{filter: blur(1px);}
#login_box a:last-child{float:right;}
#login_box a:last-child::after{clear:both;}

/* user/join */
#join_box{width:220px; margin:25% auto;}
#join_box h1{margin-bottom:10px; letter-spacing: 1px; font-size:21px;}

/* note/create */
#Note_create_box{width:800px; margin:20% auto;}
#Note_create_box input[type=text]{width:33%; border:transparent; border-bottom: 1px solid rgba(255,255,255,0.4);}
#Note_create_box .subject{width:70% !important; float:right;}
#Note_create_box .subject::after{content:""; clear:both;}
#Note_create_box select{background:rgba(255,255,255,0.2); color:#999;}
#Note_create_box option{background:rgba(255,255,255,0.2);}
#Note_create_box textarea{background:rgba(255,255,255,0.1); color:#fff; padding:20px;}
#Note_create_box button{width:100%;}
#Note_create_box .back_link{margin-top:25px; font-size:12px; text-align:center;}
#Note_create_box .back_link:hover{filter: blur(1px);}
#Note_create_box .wrap {
    width: 800px; margin-top:7px;
}
#Note_create_box .wrap textarea {
    width: 100%;
    resize: none;
    overflow-y: hidden; /* prevents scroll bar flash */
    padding: 1.1em; /* prevents text jump on Enter keypress */
    padding-bottom: 0.2em;
    line-height: 1.6;
}

/* note/list */
#Note_list_box{width:800px; margin:10% auto 20% auto;}
#Note_list_box h1{font-family: 'ChosunSm'; font-weight:100; margin-bottom:7px;}
#Note_list_box span{display: inline-block; padding:5px 7px;}
#Note_list_box .category span::after{content:""; border-right:2px solid rgba(255,255,255,0.4); padding-right:15px;}
#Note_list_box span:last-of-type::after{content:""; clear:both;}
.note_list ::after{clear: both;}
.note_list ul{margin-top:30px;}
.note_list li{float:left; text-align: center; border-bottom: 1px solid rgba(255,255,255,0.4); padding:10px 5px;}
.note_list li:nth-of-type(1){width:10%;}
.note_list li:nth-of-type(2){width:70%;}
.note_list li:nth-of-type(3){width:20%;}
.note_list li:last-of-type::after{content:""; clear: both;}

.note_info{margin-top:40px;}
.note_info p{line-height: 14px; letter-spacing: 0.3px;}
.note_subject{text-align: center;}
.note_subject p{font-size:26px;}
.note_subject hr{height:1px; background:rgba(255,255,255,0.4); margin-top:25px;}
.note_contents{position: relative; font-size:16px; letter-spacing: 0.5px; line-height: 170%; padding:0 20px;}
#Note_list_box .end_line{height:1px; background:rgba(255,255,255,1)}
.feat_box{font-size:12px; transform: rotate(270deg); position:absolute; top:43%; right:-10%; }
.feat_box a{color:rgba(255,255,255,0.6); transition:1s; }
.feat_box a:hover{color:rgba(255,255,255,1);}

/* create button */
#creat_button{position: fixed; bottom:5%; right:14%; letter-spacing: 3px; font-size:30px; }
#creat_button a{transition:1.5s; color:rgba(255,255,255,0.3);}
#creat_button a:hover{color:#fff;}

/* paging */
#paging_box{width:100%; margin:20px auto; text-align: center;}
#paging_box a{margin:0 7px;}
.p_active{color: rgba(255,255,255,0.6) !important;}
